*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  background: linear-gradient(to right, white, 40%, rgb(34, 185, 209, 100%));
  font-family: sans-serif;
}

p {
  padding: 6rem;
}

.content {
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.header img {
  height: 10rem;
}

.menu {
  display: flex;
  list-style: none;
  border-bottom: none;
  gap: 10rem;
  font-size: 3rem;
  margin-right: 15rem;
  cursor: pointer;
  align-items: center;
}

.sdgtekst p {
  font-family: sans-serif;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.onzesdgs {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.sdgtekst {
  color: black;
  font-size: 5rem;
  font-family: "Pacifico", cursive;
  text-align: center;
}

#results {
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 1s;
  max-width: 70%;
  padding: 2rem;
  border-radius: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  height: auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.single {
  padding: 1rem;
  height: 30rem;
  width: 30rem;
  float: left;
  border-radius: 1rem;
}

.single img:hover {
  transform: scale(1.2);
}

.single img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  transition-duration: 1.5s;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  border: 2px solid #333;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  height: 10rem;
  width: 20rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  transition-duration: 1.5s;
}

.cta-button i {
  padding-top: 2.5rem;
  margin-left: 10px;
}

.cta-button:hover {
  transform: scale(1.2);
}

.h3 {
  color: black;
  font-size: 5rem;
  font-family: "Pacifico", cursive;
  margin-left: 6rem;
}

footer {
  position: relative;
  margin-top: 10rem;
  height: 50rem;
  width: 100%;
  background-color: rgb(227, 227, 227);
}

.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.content img {
  height: 20rem;
  width: 30rem;
  margin-left: 2rem;
  background-color: white;
  margin: 2rem;
  display: flex;
  border-radius: 2rem;
}

.content a {
  gap: 2rem;
  padding: 2rem;
}

.box h2 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: black;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: rgb(34, 185, 209, 100%);
  top: -10px;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: white;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: rgb(34, 185, 209, 100%);
}
.center .content .fab {
  font-size: 1.4375rem;
  background: white;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas {
  font-size: 1.4375rem;
  background: white;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas:hover {
  background: rgb(34, 185, 209, 100%);
  transform: scale(1.7);
}

.center .content .text {
  font-size: 2rem;
  font-weight: 500;
  padding-left: 10px;
  color: black;
}

h2,
a {
  color: black;
}

.content p {
  color: black;
}

.center .content .phone {
  margin: 15px 0;
}

.sdg-title2 {
  margin-left: 10rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 8rem;
  display: block;
}

.sdg-subtitle2 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.sdg-text2 {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  margin-left: 10rem;
}

.sdg-article2 {
  display: flex;
  margin-top: 10rem;
}

.sdg-image2-2 {
  height: 45rem;
  margin-left: 10rem;
}

.sdg-article2-2 {
  display: flex;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.sdg-image2-22 {
  height: 45rem;
  width: 55rem;
  margin-left: 7rem;
}

.sdg-text2-2 {
  max-width: 77rem;
  margin-left: 5rem;
}

.sdg-title2 {
  margin-left: 10rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 8rem;
  display: block;
}

.sdg-subtitle2 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.sdg-text2 {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  margin-left: 10rem;
}

.sdg-article2 {
  display: flex;
  margin-top: 10rem;
}

.sdg-image2-2 {
  height: 45rem;
  margin-left: 10rem;
}

.sdg-article2-2 {
  display: flex;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.sdg-image2-22 {
  height: 45rem;
  width: 55rem;
  margin-left: 7rem;
}

.sdg-text2-2 {
  max-width: 77rem;
  margin-left: 5rem;
}


.sdg-container {
  display: flex;
  flex-direction: row; 
  align-items: center;
  padding: 2rem;
}

.sdg-left {
  flex: 1; /* Take up all available space on the left */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sdg-right {
  flex: 1; /* Take up all available space on the right */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}

.sdg-title {
  font-size: 5rem;
  margin: 5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 4rem;
}

.sdg-image2 {
  max-width: 100%;
  height: auto;
  margin-bottom: 3rem;
  margin-left: 5rem;
}

.sdg-subtitle {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.sdg-description {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}

@media (max-width: 1555px) {
  .sdg-article2,
  .sdg-article2-2,
  .sdg-title2 {
    margin-right: 5rem;
  }
}

@media (max-width: 1555px) {
  .sdg-article2,
  .sdg-article2-2,
  .sdg-title2 {
    margin-right: 5rem;
  }
}

@media (max-width: 574px) {
  body {
    font-size: 3rem;
  }
  .sdg-title2 {
    font-size: 6rem;
    margin-left: 2.5rem;
  }
  .sdg-article2 {
    flex-direction: column;
    margin-left: -2.5rem;
  }
  .sdg-article2-2 {
    flex-direction: column;
    margin-left: -2.5rem;
  }
  .sdg-image2-2,
  .sdg-image2-22 {
    height: 30rem;
    width: 30rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 8rem;
  }
  .sdg-subtitle2 {
    font-size: 4rem;
  }
}

@media (max-width: 1300px) {
  .footer-col {
    width: 50%;
    margin-bottom: 3rem;
  }
  .sdg-container {
    flex-direction: column;
  }

  .sdg-right {
    padding: 2rem;
  }

  .sdg-image2 {
    order: -1;
  }

  .sdg-subtitle {
    margin-top: 2rem;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
